body{
    font-family: 'PT Serif', sans-serif;
    font-size: 16px;
    font-color: #c93f78;
    line-height: 1.5;
    background: #fff3fc;
}

a{
    text-decoration: none;
    color: #c93f78;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
    height: auto;
}

/*Navbar*/
.navbar {
    background: #fff3fc;
    padding: 20px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
}


.navbar ul {
    display: flex;
    gap: 20px;
}

.navbar ul li a {
    display: block;
    font-weight: 600;
    transition: 0.75s;
}

.navbar ul li a:hover{
    color: #c93f78;
}

/*Utility Classes*/
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-sm {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}